<!DOCTYPE html>
<html>
<head>
    
    <script src='js/app.js'></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

        {{>header}}
        <p>This website provides the current weather report for a specific</p>
        <p>location provided by the user</p>
        
        {{>footer}}
    
</body>
</html>